.wapper {
  max-width: 1200px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jokebuttonText {
  border: solid 2px red;
}

.responseArea {
  border: solid 2px blue;
}
