
.wrapper {
  max-width: 1200px;
   width: 90%;
    margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
}


.jokeButton{
  display: flex;
  justify-content: center;
}

.jokeButtonText {
  border: solid 2px red;
}

.jokeButtonText:hover{
  cursor: pointer;
}

h2{
  padding: 20px;
}

.responseArea {
  display: flex;
  justify-content: center;
  border: solid 2px blue;
}