.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;

  background-image: url("https://p7.hiclipart.com/preview/646/272/890/chuck-norris-karate-kommandos-clip-art-chuck-norris-thumbnail.jpg");
  background-size: contain;
  border-radius: 10px;

  h1 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  &:hover {
    h1 {
      color: black;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        1px 1px 0 #fff;
    }
  }
}

.jokeButton {
  display: flex;
  justify-content: center;
}

.jokeButtonText {
  border: solid 2px red;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    background-color: red;
    color: white;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }

  &:active {
    transform: translateY(4px);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
  }
}

h2 {
  padding: 20px;
}

p {
  font-size: 35px;
}

.responseArea {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: whitesmoke;
  font-family: 'open sans';
  margin-top: 110px;
  margin-right: 0px;
  opacity: .5;
}

.videoContainer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  top: 30vh;
  overflow: hidden;
}


video{
 width: 100%;
 height: auto;
}
