.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("https://p7.hiclipart.com/preview/646/272/890/chuck-norris-karate-kommandos-clip-art-chuck-norris-thumbnail.jpg");
  background-size: contain;
  border-radius: 10px;
}
.header h1 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jokeButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jokeButtonText {
  border: solid 2px red;
  border-radius: 10px;
}

.jokeButtonText:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

h2 {
  padding: 20px;
}

p {
  font-size: 35px;
}

.responseArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
  border: solid 2px blue;
}